// ARTICLE

.article {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.txt--xs {
  width: 9px;
  margin: 30px 215px 0 15px;
}

.title--article {
  width: 290px;
  margin: 0 15px 15px 15px;
}

.txt--article {
  width: 290px;
  margin: 0 15px 30px 15px;
}

.button--go {
  margin: 0 229px 45px 15px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txt--wrapper {
  margin: 0 55px;
}
