// ARTICLE

.article {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.txt--xs {
  width: 9rem;
  margin: 3rem 21.5rem 0 1.5rem;
}

.title--article {
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.txt--article {
  margin: 0 1.5rem 3rem 1.5rem;
}

.button--go {
  margin: 0 22.9rem 4.5rem 1.5rem;
}

// SECTION
