// ARTICLE

.article {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.txt--xs {
  margin: 30px 215px 0 15px;

  @media all and (min-width: 768px) {
    margin: 30px 513px 0 39px;
  }

  @media all and (min-width: 1200px) {
    margin: 60px 645px 0 275px;
  }

}

.title--article {
  margin: 0 15px 15px 15px;

  @media all and (min-width: 768px) {
    margin: 0 39px 30px 39px;
  }

  @media all and (min-width: 1200px) {
    margin: 0 275px 30px 275px;
  }
}

.txt--article {
  margin: 0 15px 30px 15px;

  @media all and (min-width: 768px) {
    margin: 0px 39px 30px 39px;
  }

  @media all and (min-width: 1200px) {
    margin: 0 275px 30px 275px;
  }
}

.button--go {
  margin: 0 229px 45px 15px;

  @media all and (min-width: 768px) {
    margin: 0 638px 60px 39px;
  }

  @media all and (min-width: 1200px) {
    margin: 0 845px 60px 275px;
  }
}

// GRID SECTION

.grid-box {
  margin: 0 auto;
  background-color: $background-section;
  padding-top: 30px;
  padding-bottom: 60px;

  @media all and (min-width: 768px) {
    padding-top: 30px;
  }

  @media all and (min-width: 1200px) {
    padding-top: 60px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.item-1 {
  margin-bottom: 22.5px;

  @media all and (min-width: 768px) {
    grid-area: top;
    margin-bottom: 0;
  }
}

.item-2 {
  padding: 22.5px 55px;

  @media all and (min-width: 768px) {
    padding: 0 40px;
  }
}

.item-mid1 {
  @media all and (min-width: 768px) {
    grid-area: mid1;
  }
}

.item-mid2 {
  @media all and (min-width: 768px) {
    grid-area: mid2;
  }
}

.item-mid3 {
  @media all and (min-width: 768px) {
    grid-area: mid3;
  }
}

.item-3 {
  margin-top: 45px;
  @media all and (min-width: 768px) {
    grid-area: bottom;
    margin-top: 0;
  }
}
