.button--menu {
  background-color: $background-button-menu;
  padding: 15px 14px;
  position: fixed;
  top: 0;
  left: 0;
}

.button--round {
  height: 45px;
  width: 45px;
  background-color: $background-button-round;
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--go {
  height: 45px;
  width: 76px;
  border: 2px solid $color-orange;
  background-color: $background-button-go;
  border-radius: 22.5px;
  transition: background-color ease 2s;
  &:hover {
    background-color: $background-button-go-hover;
  }

  @media all and (min-width: 1200px) {
    width: 160px;
  }
}

.button--mr {
  height: 45px;
  width: 184px;
  background-color: $background-button-mr;
  border-radius: 22.5px;
  transition: background-color ease 4s;
  &:hover {
    border: 2px solid $color-orange;
    background-color: $background-button-mr-hover;
  }

  @media all and (min-width: 768px) {
    width: 210px;
  }

  @media all and (min-width: 1200px) {
    width: 255px;
  }
}

.button--up {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

  &:hover {
    animation-name: size;
    animation-duration: 5s;
    animation-iteration-count: 1;

  @keyframes size {
    from {
      transform: translateY(0%);
      transform: scale(2);
    }
    to {
      transform: translateY(-50%);
      transform: scale(1);
    }
  }
}
}
