.button--menu {
  background-color: $color-blue;
  padding: 15px 14px;
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
}

.button--down {
  height: 45px;
  width: 45px;
  background-color: $color-white;
  border-radius: 22.5px;
}
