.title--h1 {
  font-family: $font-family-title;
  font-size: 42px;
  font-weight: bold;
  color: $font-color-hero;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
}

.txt--giro {
  font-family: $font-family-content;
  font-size: 16px;
  color: $font-color-hero;
  text-align: center;
}

.txt--xs {
  font-family: $font-family-content;
  font-size: 14px;
  color: $font-color-txt-xs;
  line-height: 30px;
}

.title--h2 {
  font-family: $font-family-title;
  font-size: 24px;
  color: $font-color-h2;
  line-height: 30px;
}

.txt--article {
  font-family: $font-family-content;
  font-size: 18px;
  color: $font-color-txt-article;
  line-height: 30px;
}


.link--go {
  font-family: $font-family-content;
  font-size: 20px;
  font-weight: 500;
  color: $font-color-link-go;
  line-height: 45px;
  text-align: center;

  &:hover {
    color: $font-color-link-go-hover;
  }
}
