.title--h1 {
  font-family: $font-family-title;
  font-size: 42px;
  font-weight: 700;
  color: $font-color-hero;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;

  @media all and (min-width: 768px) {
    font-size: 80px;
    line-height: 106px;
  }

  @media all and (min-width: 1200px) {
    font-size: 100px;
    line-height: 132px;
  }
}

.txt--giro {
  font-family: $font-family-content;
  font-size: 16px;
  color: $font-color-hero;
  text-align: center;

  @media all and (min-width: 768px) {
    font-size: 24px;
  }

  @media all and (min-width: 1200px) {
    font-size: 24px;
  }
}

.txt--xs {
  font-family: $font-family-content;
  font-size: 14px;
  color: $font-color-txt-xs;
  line-height: 30px;

  @media all and (min-width: 1200px) {
    font-size: 16px;
  }
}

.title--h2 {
  font-family: $font-family-title;
  font-size: 24px;
  color: $font-color-h2;
  line-height: 30px;

  @media all and (min-width: 768px) {
    font-size: 26px;
    line-height: 45px;
  }

  @media all and (min-width: 1200px) {
    font-size: 32px;
  }
}

.txt--article {
  font-family: $font-family-content;
  font-size: 18px;
  color: $font-color-txt-article;
  line-height: 30px;

  @media all and (min-width: 768px) {
    font-size: 20px;
  }
}

.link--go {
  font-family: $font-family-content;
  font-size: 20px;
  font-weight: 500;
  color: $font-color-link-go;
  line-height: 45px;
  text-align: center;
}

.title--1 {
  text-align: center;
}

.title--wrapper {
  font-family: $font-family-title;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;

  @media all and (min-width: 768px) {
    font-size: 24px;
    line-height: 30px;
  }
}

.txt--wrapper {
  font-family: $font-family-content;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  @media all and (min-width: 768px) {
    font-size: 20px;
  }
}


.link--mr {
  font-family: $font-family-content;
  font-size: 20px;
  font-weight: 500;
  color: $font-color-link-mr;
  line-height: 45px;
  text-align: center;
}

.txt--footer {
  font-family: $font-family-content;
  font-size: 14px;
  color: $font-color-footer;
}

.heart {
  color: $color-orange
}
